*{
    background:#f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;  
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    font-family: 'Inter';
}

::placeholder{color: #0A3871;}
    .text-area:focus{
        outline:none
    }

.mensajebase{
    background: #FFFFFF;
    background-image: url("C:/Users/jestr/Documents/Encriptador/imagenes/Muneco1.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensajebase:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}
.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.btn-desencriptar{
    background: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.informacion{
    color: #495057;
    font-size: 18px;
}

.referencia{
    color: #495057;
    font-size: 18px;
}

.link1{
    color: #495057;
    font-size: 18px;
}